body {
    background-color: #111;
    color: white;
    min-height: 100vh;
}
.form-control {
    background-color: #444;
    border: none;
    color: white;
}
.form-control::placeholder {
    color: white;
}
.btn-login {
    background-color: #d40000;
    color: white;
    font-weight: bold;
    }
.btn-login:hover {
    background-color: #870f0f;
}
.login-title {
    color: #ff0000;
    font-weight: bold;
}