@font-face {
    font-family: 'strangerThings';
    src: url(/assets/Benguiat\ Bold.ttf);
    font-weight: normal;
    font-weight: normal;
}

.titlePage {
    font-family: strangerThings;
    font-weight: bolder;
    color: red;
}

.navbar {
    background-color: black;
}

.nav-link {
    color: white;
    font-weight: bold;
    margin-left: 1rem;
}

.nav-link:hover {
    color: red;
}

.card {
    border: 1px solid black;
}

.card:hover {
    scale: calc(1.02);
}