@font-face {
    font-family: 'strangerThings';
    src: url(/assets/Benguiat\ Bold.ttf);
    font-weight: normal;
    font-weight: normal;
}

.titlePage {
    font-family: strangerThings;
    font-weight: bold;
    color: red;
    -webkit-text-stroke: 2px #000;
}